.app__tab--custom {
  .ant-tabs-ink-bar {
    background: red !important;
  }
  .ant-tabs-nav {
    &::before {
      border-bottom: 0px;
    }
  }
  .ant-tabs-tab-active {
    &::before {
      background: red !important;
      background-color: red !important;
    }
    .ant-tabs-tab-btn {
      color: red !important;
    }
  }
  .ant-tabs-nav-list {
    width: 100% !important;
    justify-content: space-between !important;
  }
}

.el-tour__content {
  & {
    box-shadow: none !important;
    width: 100vw !important;
    height: auto !important;
    background: #f4f4f4 !important;
  }
  .el-tour__arrow {
    display: none;
  }
}

.app__custom--tour {
  & {
    position: relative;
    background: linear-gradient(
      to right,
      #e5e5e5 0%,
      #e5e5e5 10%,
      white 10%,
      white 90%,
      #e5e5e5 90%,
      #e5e5e5 100%
    );
    overflow: hidden;
  }
  .el-space {
    display: flex !important;
  }
  .el-space__item {
    z-index: 9999;
    flex: 1 !important;
  }
  .el-space--horizontal {
    gap: 2px !important;
  }
  button {
    span {
      color: gray;
    }
    & {
      position: relative !important;
      margin: 0px 0px !important;
    }
    &:hover {
      background: inherit !important;
      background-color: inherit !important;
      color: inherit !important;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      height: 50%;
      width: 100%;
      background: #e5e5e5;
      z-index: -2;
    }
    &::before {
      top: 0px;
      transform: skew(30deg);
    }

    &::after {
      bottom: 0px;
      transform: skew(-30deg);
    }
  }
  &-active {
    span {
      color: red !important;
    }
    &::before,
    &::before {
      background: white !important;
    }

    &::after {
      background: white !important;
    }
  }
  .el-tour-buttons {
    background: red !important;
  }
}
.el-tour__footer {
  display: none !important;
}

.app__custom--checkbox--input {
  .el-checkbox {
    & {
      display: flex !important;
      justify-content: center !important;
      margin: 0px 0px !important;
      position: relative !important;
    }
    .el-checkbox__input {
      display: none;
    }
    .is-checked {
      position: absolute !important;
      display: block !important;
      top: 0px;
      right: 0px;
    }
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: black !important;
  }

  .el-checkbox.is-bordered.is-checked {
    border-color: red !important;
  }
  .el-checkbox__inner {
    background: red !important;
    border-color: red !important;
  }
}
.app__custom--tabs--appointment {
  .ant-tabs-nav {
    display: none !important;
  }
}

.app__custom-date-picker {
  & {
    padding: 9px 15px !important;
  }
  .ant-picker-input {
    input {
      font-size: 14px !important;
    }
  }
}
